/**
 * create by dummy-team
 * 2017-10-22
 */

html,
body {
    height: 100%;
    background-color: #333;
    font-family: "Segoe UI Light","Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
}

body {
    color: #fff;
    text-align: left;
    overflow-y: scroll;
}